@using BudgetWise.Data
@using Microsoft.EntityFrameworkCore
@using System.Globalization

@inject ApplicationDbContext Context

@attribute [StreamRendering]

@* 
    Simple component for displaying transaction details for mobile users
    This only requires two object to work: the user, and the transaction to display.
    This simplifies transaction listings by only displaying the description and amount of the transaction
    and displayed a button which can be clicked to open the details of the transaction.
 *@

<div class="container-fluid">
    <div
        class="row align-items-center justify-content-between border-bottom border-top border-dark-subtle">
        <div class="col-5 d-flex flex-column text-truncate">
            <span class="text-truncate">@Transaction.Description</span>
            <span class="text-truncate">@Transaction.Date</span>
        </div>

        <div class="col-5 d-flex flex-column text-truncate">
            <span class="text-truncate">@(Transaction.Category is not null ?
                                Transaction.Category.Name : "Unknown")</span>
            @{
                NumberFormatInfo numberFormat = (NumberFormatInfo)CultureInfo.CurrentCulture.NumberFormat.Clone();
                numberFormat.CurrencyNegativePattern = 1;
            }
            <span class="@(Transaction.Amount < 0 ? "text-danger" : "text-success") text-truncate">
                @Transaction.Amount.ToString("C", numberFormat)
            </span>
        </div>

        <div class="col-2">
            <button class="btn btn-outline-secondary w-100 p-md-2 px-0 m-md-1 m-0" id="td-open-details-btn" aria-label="Open Transaction Details" @onclick="OpenDetails">
                <img id="detail-image" src="images/arrow_forward.svg" alt="An icon of a right facing arrow">
                <span id=detail-text>Details</span>
            </button>
        </div>
    </div>
</div>

<SimpleModal IsOpen="@areDetailsOpen" Title="@title" OnClose="CloseModal">
    @if (isEditing)
    {
        <EditForm Model="@Transaction" OnValidSubmit="@SaveTransaction">
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <InputText class="form-control" id="description" placeholder="description" @bind-Value="@Transaction.Description" />
            </div>

            <div class="mb-3">
                <label for="date" class="form-label">Posted</label>
                <InputDate class="form-control" id="date" placeholder="description" @bind-Value="@Transaction.Date" />
            </div>
            
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <InputSelect required aria-required="true" class="form-select mb-2" id="category" @bind-Value="@Transaction.CategoryId">
                    <option value="">Select a category</option>
                    @foreach (var category in Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </InputSelect>
            </div>

            <div class="mb-3">
                <label for="amount" class="form-label">Amount</label>
                <InputNumber class="form-control" id="amount" placeholder="amount" @bind-Value="@Transaction.Amount" />
            </div>
            <div class="mb-3">
                <label for="account" class="form-label">Account</label>
                <InputSelect required aria-required="true" class="form-select mb-2" id="account" @bind-Value="@Transaction.AccountId">
                    <option value="">Select an Account</option>
                    @foreach (var account in Accounts)
                    {
                        <option value="@account.Id">@account.Name</option>
                    }
                </InputSelect>
            </div>

            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-secondary" @onclick="StartEdit" disabled="@isBusy"
                    aria-label="Stop editing transaction">
                    Cancel
                </button>

                <button type="submit" class="btn btn-primary ms-3" disabled="@isBusy" aria-label="Save transaction changes">
                    @(isBusy ? "Saving..." : "Save")
                </button>
            </div>
        </EditForm>
    }
    else
    {
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <div class="form-control" id="description">
                @Transaction.Description
            </div>
        </div>

        <div class="mb-3">
            <label for="date" class="form-label">Posted</label>
            <div class="form-control" id="description">
                @Transaction.Date.ToString()
            </div>
        </div>
        
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <div class="form-control" id="category">
                @Transaction.Category.Name
            </div>
        </div>

        <div class="mb-3">
            @{
                NumberFormatInfo numberFormat = (NumberFormatInfo)CultureInfo.CurrentCulture.NumberFormat.Clone();
                numberFormat.CurrencyNegativePattern = 1;
            }

            <label for="amount" class="form-label">Amount</label>
            <div class="form-control @(Transaction.Amount < 0 ? "text-danger" : "text-success")" id="amount">
                @Transaction.Amount.ToString("C", numberFormat)
            </div>
        </div>

        <div class="mb-3">
            <label for="account" class="form-label">Account</label>
            <div class="form-control" id="account">
                @Transaction.Account.Name
            </div>
        </div>

        <div class="d-flex justify-content-end">
            @if (DontShowDelete != true)
            {
                <button type="button" class="btn btn-outline-danger" disabled="@isBusy" aria-label="Delete transaction"
                    @onclick="@DeleteTransaction">
                    Delete
                </button>
            }

            <button type="button" class="btn btn-primary ms-3" disabled="@isBusy" aria-label="Edit transaction"
                @onclick="@StartEdit">
                Edit
            </button>
        </div>
    }
</SimpleModal>

@code {
    [Parameter]
    public required User User { get; set; }
    
    [Parameter]
    public required UserTransaction Transaction { get; set; }
    
    [Parameter]
    public required List<Category> Categories { get; set; } = new List<Category>();

    [Parameter]
    public required List<Account> Accounts { get; set; } = new List<Account>();

    [Parameter]
    public EventCallback Callback { get; set; }

    [Parameter]
    public bool? DontShowDelete { get; set; }

    private string title => areDetailsOpen ? (isEditing ? $"Editing Transaction - {Transaction.Description}" : $"Viewing Transaction - {Transaction.Description}") : "";
    private bool areDetailsOpen = false;
    private bool isBusy = false;
    private bool isEditing = false;

    private async Task SaveTransaction()
    {
        try {
            isBusy = true;
            await Context.SaveChangesAsync();
        }
        catch (Exception)
        {
            CloseModal();
        }
        finally
        {
            @* areDetailsOpen = false; *@
            isEditing = false;
            isBusy = false;
            await TriggerCallback();
        }
    }

    private async Task DeleteTransaction()
    {
        if (User is null)
        {
            @* ErrorMessage = "You must be logged in to delete a transaction."; *@
            return;
        }
        try
        {
            Context.UserTransactions.Remove(Transaction);
            await Context.SaveChangesAsync();
        }
        catch (Exception)
        {

        }
        finally {
            areDetailsOpen = false;
            isEditing = false;
            isBusy = false;
            await TriggerCallback();
        }
    }

    private async Task StartEdit()
    {
        isEditing = !isEditing;
        await TriggerCallback();
    }

    private void OpenDetails()
    {
        @* title = $"Viewing Transaction - {Transaction.Description}"; *@
        areDetailsOpen = true;
        isEditing = false;
    }

    private void CloseModal()
    {
        areDetailsOpen = false;
        isEditing = false;
    }

    private async Task TriggerCallback()
    {
        if (Callback.HasDelegate == true)
        {
            await Callback.InvokeAsync();
        }
    }
}