@using BudgetWise.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using System.Transactions
@attribute [StreamRendering]
@attribute [Authorize]

@inject ApplicationDbContext Context
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<User> UserManager

@if (true)
{
    <div>
        @* Readonly for delete operations *@
        @if (Operation == Mode.Delete)
        {
            <label>
                <InputDate readonly @bind-Value="@Transaction.Date" />
            </label>

            <label>
                <InputText readonly @bind-Value="@Transaction.Description" placeholder="Description" />
            </label>

            <label>
                <InputText readonly @bind-Value="@Transaction.Category" placeholder="Category" />
            </label>
            
            <label>
                <InputNumber readonly @bind-Value="@Transaction.Amount" placeholder="Amount" />
            </label>
            <p>Are you sure you want to delete this transaction? This action cannot be undone.</p>
        }
        @* Editable fields for all other operations (create, update) *@
        else
        {
            <label>
                <InputDate @bind-Value="@Transaction.Date" />
            </label>

            <label>
                <InputText @bind-Value="@Transaction.Description" placeholder="Description"  />
            </label>

            <label>
                <InputText @bind-Value="@Transaction.Category" placeholder="Category" />
            </label>
            
            <label>
                <InputNumber @bind-Value="@Transaction.Amount" placeholder="5" />
            </label>
        }
        <button @onclick="@CancelChanges">
            Cancel
        </button>
        <button @onclick="@SaveChanges">
            @if (Operation == Mode.Create)
            {
                saveButtonText = "Add";
            }
            else if (Operation == Mode.Update)
            {
                saveButtonText = "Update";
            }
            else if (Operation == Mode.Delete)
            {
                saveButtonText = "Delete";
            }

            @saveButtonText
        </button>
    </div>
}

@code {
    public enum Mode
    {
        Create,
        Update,
        Delete,
    }

    [Parameter]
    public required Mode Operation { get; set; }

    [Parameter]
    public required UserTransaction Transaction { get; set; }

    [Parameter]
    public required EventCallback OnChanged { get; set; }

    [Parameter]
    public required EventCallback OnCanceled { get; set; }

    private string saveButtonText { get; set; } = string.Empty;

    private User? user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        
        if (authState.User.Identity is not null && authState.User.Identity.IsAuthenticated)
        {
            user = await UserManager.GetUserAsync(authState.User);
        }
    }

    private async void SaveChanges()
    {
        if (user is not null)
        {
            Console.WriteLine(Operation);
            switch (Operation)
            {
                case Mode.Create:
                    Context.UserTransactions.Add(Transaction);
                    break;
                case Mode.Update:
                    Context.UserTransactions.Update(Transaction);
                    break;
                case Mode.Delete:
                    Context.UserTransactions.Remove(Transaction);
                    break;
                default:
                    // No changes made so return without saving
                    return;
            }

            Console.WriteLine("Updated");

            await Context.SaveChangesAsync();
            await OnChanged.InvokeAsync();
        }
    }

    private async void CancelChanges()
    {
        Context.ChangeTracker.Clear();
        await OnCanceled.InvokeAsync();
    }
}